:root {
  --yellow: #FFD803;
  --light-blue: #BAE8E8;
  --main-text-colour: #243156;git
  --off-white: #F3FBFB;
}

.App {
  text-align: center;
  text-anchor: middle;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 1%;
}

body {
  margin: 0;
  color: var(--main-text-colour);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  /* color: #FFD803; */
  font-size:3rem;
}

.paragraph, .paragraph2 {
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  font-size: 19px;
  color: var(--main-text-colour);
}

.search-below {
  font-weight: bold;
  /* color: var(--yellow); */
  font-size: 2rem;
  font-weight: 100;
}

.user-input {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 2%;
  color: var(--main-text-colour);
  font-size: 12px;
}


  .profile-cards{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px;
}

label {
  padding: 5%;
  font-size: 18px;
  position:relative;
  font-weight: 500;
}

select {
  margin: 5px;
  padding: 2px;
}

option {
  /* background-color:var(--light-blue); */
  font-weight: 500;
  border: none;
}

.dropdown-form {
  background-color: var(--light-blue);
  display: flex;
  justify-content: space-around;
  align-content: space-evenly;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 40px;
  margin: 40px;
  height: 15vh;
}

.dropdown-left, .dropdown-right {
  align-self: center;
  display: contents;
  flex-direction: column;
  justify-content: space-around;
  padding: 5%; 
}

.card {
  display: flex;
  align-content: center;
  align-items:center;
  flex-direction: column;
  color: var(--main-text-colour);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-width: 300px;
  /* max-height: 300px; */
  margin: 10px;
  text-align: center;
  background-color: var(--off-white);
  border: 10px;
  border-color: var(--light-blue);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

/* .container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
} */

img {
  width: 140px;
  height: 140px;
  border: 10px solid var(--light-blue);
  margin: 1px;
  border-radius: 50%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.suggestions-box {
  height: 50vh;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;
}

.suggestions-input {
    padding: 2vh;
}

button {
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 1vh;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:var(--yellow);
  color: var(--main-text-colour);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

button:hover{
  background-color: var(--main-text-colour);
  color: var(--yellow);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* .collaborm8{
  color:var(--yellow);
} */
