:root {
  --yellow: #FFD803;
  --light-blue: #BAE8E8;
  --main-text-colour: #272343;
  --off-white: #F3FBFB;
}

.App {
  text-align: center;
}


body {
  color: var(--main-text-colour);
  font-family:
}

.dropdown-form {
  background-color: rebeccapurple;
  display: flex;
  justify-content: space-around;
}

.dropdown-left {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
}

.dropdown-right {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
}

.dropdown-button {
  display: flex;
}