:root {
  --yellow: #FFD803;
  --light-blue: #BAE8E8;
  --main-text-colour: #272343;
  --off-white: #F3FBFB;
}

.App {
  text-align: center;
}

body {
  color: var(--main-text-colour);
  font-family:
}

.dropdown-form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  height: 10vh;
}

.dropdown-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-button {
  display: flex;
  justify-content: center;
}