:root {
  --yellow: #FFD803;
  --light-blue: #BAE8E8;
  --main-text-colour: #272343;
  --off-white: #F3FBFB;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--main-text-colour);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: var(--off-white);
    border: 10px;
    border-color: var(--light-blue);
    border-radius: 4%;
    padding: 10px;
  }

  /* .image-container {
    width: 20vw;
    direction: flex;
  } */

  img {
    width: 140px;
    height: 140px;
    border: 10px solid var(--light-blue);
    margin: 1px;
    border-radius: 50%;
    position: relative;
    background-position: center;
    background-size: cover;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: var(--yellow);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }